.bg-my {
    background: blue;
}

.header-font {
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

header span {
    color: white;
}

header .btn:active, header .btn:hover {
    color: #f69d3c !important;
}
